PORT=5001
FRONTEND_URL=http://localhost:5173
MONGO_URI=mongodb://vidhip794_db_user:wRggRxGkbqZCrJZ1@ac-c94cgwa-shard-00-00.gbulxma.mongodb.net:27017,ac-c94cgwa-shard-00-01.gbulxma.mongodb.net:27017,ac-c94cgwa-shard-00-02.gbulxma.mongodb.net:27017/Invoice?ssl=true&replicaSet=atlas-qltka5-shard-0&authSource=admin&appName=Cluster0&tlsAllowInvalidCertificates=true
JWT_SECRET=futentia_invoice_jwt_super_secret_2026
JWT_EXPIRES_IN=7d