PORT=5001
FRONTEND_URL=http://localhost:5173
MONGO_URI=mongodb://your_user:your_password@your_host:27017/Invoice?ssl=true&replicaSet=your_replica&authSource=admin
JWT_SECRET=your_super_secret_key_here
JWT_EXPIRES_IN=7d
